:root {
  /* BACKGROUND */
  --proyect-backgroundcolor-1: #eeeeee;
  --proyect-backgroundcolor-2: #d9d9d9;
  --proyect-backgroundcolor-3: #282727;
  --proyect-backgroundcolor-4: #000000;
  /* COLORS */
  --proyect-color-1: #ffffff;
  --proyect-color-2: #f0f0f0;
  --proyect-color-3: #141615;
  --proyect-color-4: #000000;
  /* SPACINGS */
  --proyect-margin-xs: 10px;
  --proyect-margin-s: 20px;
  --proyect-margin-m: 30px;
  --proyect-margin-l: 40px;
  --proyect-margin-xl: 50px;
  --proyect-margin-xxl: 60px;

  --proyect-padding-xs: 10px;
  --proyect-padding-s: 20px;
  --proyect-padding-m: 30px;
  --proyect-padding-l: 40px;
  --proyect-padding-xl: 50px;
  --proyect-padding-xxl: 60px;

  --proyect-gap-xs: 10px;
  --proyect-gap-s: 20px;
  --proyect-gap-m: 30px;
  --proyect-gap-l: 40px;
  --proyect-gap-xl: 50px;
  --proyect-gap-xxl: 60px;
}
.gray-button {
  background-color: #c5c5c5;
}
.red-button {
  background-color: #b20000;
}
.blue-button {
  background-color: #0010a1;
}
.black-button {
  background-color: #000000;
}
.yellow-button {
  background-color: rgb(247, 198, 52);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'ABeeZee', sans-serif;
}
a {
  text-decoration: none;
  color: var(--proyect-color-3);
}
li {
  list-style: none;
}
header {
  display: flex;
  max-width: 100%;
  height: 8svh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-top: 5px;
}
header > nav {
  display: flex;
  width: 100%;
}
.options {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
}
.options > a {
  display: flex;
  width: 15%;
  justify-content: flex-start;
}
.user-shop {
  display: flex;
  margin-top: var(--proyect-margin-xs);
  margin-right: var(--proyect-margin-xl);
  gap: var(--proyect-gap-m);
}
.User {
  width: 30px;
  height: 100%;
  border: none;
  background-color: white;
  cursor: pointer;
}
.shopping-basket {
  width: 30px;
  height: 100%;
  border: none;
  background-color: white;
  cursor: pointer;
}
.menu {
  width: 30px;
  display: none;
  cursor: pointer;
  position: relative;
}
#checkbox {
  display: none;
}
/*main*/
.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  padding: var(--proyect-padding-m);
  gap: var(--proyect-gap-m);
}
.principal {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 80svh;
  padding: var(--proyect-padding-xxl);
  background-size: cover;
  background-position: center;
  color: var(--proyect-color-1);
  background-image: url(./assets/Portada.jpg);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--proyect-padding-s);
  background-color: #d9d9d9;
  border-radius: 15px;
  height: 430px;
}
.card > img {
  width: 500px;
  height: 250px;
  padding: var(--proyect-padding-m);
}
.card h4 {
  padding: var(--proyect-padding-s);
  font-size: 20px;
}
.info {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 15%;
  height: 60%;
  border: none;
  background-color: white;
}
.info3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 15%;
  height: 60%;
  border: none;
  background-color: white;
}
.colors {
  display: flex;
  justify-content: end;
  gap: var(--proyect-gap-m);
}
.button-style {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

.models {
  display: grid;
  padding: var(--proyect-padding-m);
  width: 100%;
  height: 100%;
  gap: var(--proyect-gap-l);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.Find-your-nearest {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 30px;
  gap: var(--proyect-gap-s);
}
h2 {
  font-size: 45px;
}
.Find-your-nearest p {
  width: 65%;
}
.partner-store {
  display: flex;
  max-width: 100%;
  height: 100svh;
  color: var(--proyect-color-1);
  background-image: url(./assets/EEUU.png);
  margin-top: var(--proyect-margin-m);
}
.Discover {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 200px;
  width: 25%;
  height: 40%;
  padding: var(--proyect-padding-s);
  background-color: #d9d9d960;
  border-radius: 15px;
}
.partner-store h3 {
  font-size: 40px;
}
.Discover button {
  height: 15%;
  width: 80%;
  border-radius: 15px;
  border: none;
  margin: var(--proyect-margin-m);
}
.extras {
  display: grid;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 550px);
  gap: var(--proyect-gap-m);
  overflow-x: scroll;
  scrollbar-width: auto;
}

.card2 {
  display: flex;
  flex-direction: column;
  background-color: var(--proyect-backgroundcolor-2);
  width: 85%;
  height: 90%;
  padding: var(--proyect-padding-m);
  border-radius: 15px;
}
.card2 > h4 {
  margin-bottom: var(--proyect-margin-s);
}
.card2 > img {
  width: 100%;
  height: 75%;
}
.card2 button {
  width: 20%;
  height: 20px;
  margin-top: 20px;
}
.red-as-tentation {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100svh;
  background-size: cover;
  color: var(--proyect-color-1);
  background-image: url(./assets/Red\ as\ tentation.png);
  margin-top: var(--proyect-margin-m);
}
.red-text {
  margin-top: 450px;
  margin-left: 100px;
  width: 30%;
}

.red-as-tentation h3 {
  font-size: 40px;
}
.Mercedes-Maybach {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  align-items: center;
  justify-items: center;
}
.wheel1 {
  display: grid;
  width: 70%;
  margin-top: var(--proyect-margin-xxl);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 100px;
}
.wheel2 {
  display: none;
}
.Mercedes-Maybach > div {
  display: flex;
  flex-direction: column;
  padding: var(--proyect-padding-l);
  width: 85%;
  gap: var(--proyect-gap-l);
}
.Mercedes-Maybach h3 {
  font-size: 55px;
}
.Mercedes-Maybach > div > button {
  margin-top: 10px;
  padding: var(--proyect-padding-s);
  background-color: var(--proyect-backgroundcolor-2);
  width: 150px;
  height: 40px;
}
footer {
  background-color: var(--proyect-backgroundcolor-3);
  color: var(--proyect-color-1);
  height: 50svh;
}
.contact {
  display: flex;
  max-width: 100%;
  height: 20svh;
  justify-content: space-between;
  align-items: center;
  padding: var(--proyect-padding-l);
  background-image: url(./assets/fondo-footer.png);
}
.contact > p {
  width: 50%;
  margin-left: 10%;
}
.contact-button {
  margin-right: 20%;
  border-radius: 25px;
  width: 200px;
  height: 60px;
}
.newsletter {
  background-color: #000000;
  width: 100%;
  height: 60svh;
  gap: var(--proyect-gap-l);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mail {
  width: 84%;
  height: 60px;
  border-radius: 25px;
  font-size: 20px;
  color: var(--proyect-color-1);
  text-align: center;
  border: solid white;
  background-color: var(--proyect-backgroundcolor-4);
}
.suscribe-button {
  width: 25%;
  height: 60px;
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
  justify-content: start;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin-left: -50px;
  border: none;
}
.suscribe {
  display: flex;
  width: 35%;
  height: 20%;
  justify-content: start;
  flex-flow: wrap;
}
.mail1 {
  width: 100%;
  display: flex;
}
.checkbox1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--proyect-gap-s);
  align-content: center;
  padding: var(--proyect-padding-s);
}
.privacy {
  text-decoration: underline;
}
.social {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: var(--proyect-padding-m);
}
.social-icons {
  display: flex;
  gap: var(--proyect-gap-m);
}

.privacy-policy {
  width: 95%;
  width: 95%;
}
.privacy-policy > a {
  color: var(--proyect-color-1);
}
.fa-brands {
  color: #eeeeee;
}
.end {
  display: flex;
  justify-content: center;
  height: 60svh;
  padding-top: var(--proyect-padding-l);
  background-color: var(--proyect-backgroundcolor-4);
}
.end > article {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.end > article > h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--proyect-padding-m);
  font-size: 20px;
  font-weight: 200;
}
.end > article > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
  gap: var(--proyect-gap-s);
}
.end > article > ul > a {
  color: #ffffff99;
}

@media (max-width: 391px) {
  body {
    width: 100%;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }

  .options {
    display: none;
  }
  .menu {
    display: block;
    width: 25px;
    margin-top: 10px;
    margin-right: 5%;
  }
  .logo {
    width: 10%;
    height: 40%;
    margin: var(--proyect-margin-xs);
    margin-top: 15px;
  }
  .user-shop {
    width: 25%;
    margin-left: 30%;
  }
  img {
    max-width: 100%;
  }
  .principal {
    height: 25svh;
    justify-content: end;
    margin: 0;
    padding: var(--proyect-padding-s);
    background-size: inherit contain;
  }
  .principal > h1 {
    font-weight: 100;
    font-size: 20px;
  }
  .principal > p {
    font-weight: 100;
    font-size: 20px;
  }
  .models {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    align-items: center;
    width: 100%;
    margin-right: 15px;
  }
  .card > h4 {
    font-size: 40px;
    font-weight: 200;
  }
  .card > p {
    font-size: 20px;
  }
  .info {
    justify-content: center;
  }
  .info2 {
    width: 250%;
    border-radius: 50px;
    font-size: 15px;
  }
  .colors {
    display: none;
  }
  .Find-your-nearest {
    width: 100%;
    margin: 0;
  }
  .Find-your-nearest > h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    padding: var(--proyect-padding-m);
  }
  .Find-your-nearest > p {
    font-size: 30px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .partner-store {
    height: 50svh;
    width: 100%;
  }
  .Discover {
    width: 100%;
    height: 80%;
    margin: var(--proyect-margin-s);
  }
  .Discover > h3 {
    text-align: center;
    font-weight: 100;
    padding-bottom: var(--proyect-padding-xl);
  }
  .extras {
    width: 100%;
    margin: var(--proyect-margin-s);
    grid-template-columns: repeat(3, 350px);
    gap: var(--proyect-gap-m);
    overflow-x: scroll;
    scrollbar-width: thin;
  }
  .card2 {
    width: 100%;
    align-items: center;
    padding: var(--proyect-padding-m);
  }
  .card2 > img {
    width: 100%;
    height: 65%;
  }

  .card2 > button {
    width: 30%;
    height: 40px;
    border-radius: 20px;
  }
  .red-as-tentation {
    height: 20svh;
    width: 100%;
    background-size: inherit contain;
    margin-bottom: 200px;
  }
  .red-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20svh;
    justify-content: center;
    margin: 0;
    margin-top: 160px;
    background-color: rgb(224, 223, 223);
    color: var(--proyect-color-4);
  }
  .red-text > h3 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: var(--proyect-margin-m);
  }
  .red-text > p {
    text-align: center;
    padding: var(--proyect-padding-m);
  }
  .Mercedes-Maybach {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .Mercedes-Maybach-text {
    width: 100%;
  }
  .Mercedes-Maybach-text > h3 {
    font-size: 25px;
    font-weight: 200;
    text-align: center;
  }
  .Mercedes-Maybach-text > img {
    border-radius: 20px;
  }
  .Mercedes-Maybach-text > p {
    font-size: 20px;
  }
  .Mercedes-Maybach > div > button {
    width: 100%;
    font-size: 20px;
    background-color: white;
  }
  .wheel1 {
    display: none;
  }
  .wheel2 {
    display: flex;
  }
  footer {
    background-color: #000000;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 30svh;
  }
  .contact > p {
    width: 100%;
    text-align: center;
  }
  .contact > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--proyect-padding-s);
    font-weight: 500;
    font-size: 20px;
  }
  .newsletter {
    height: 30svh;
  }
  .newsletter > h3 {
    font-size: 30px;
    font-weight: 200;
  }
  .newsletter > p {
    font-size: 15px;
  }
  .suscribe {
    width: 95%;
  }
  .mail {
    font-size: 12px;
    display: flex;
  }
  .social {
    padding: var(--proyect-padding-xl);
    background-color: #000000;
  }
  .end {
    height: 120svh;
    display: flex;
    flex-direction: column;
  }
}
